.card__icon-button .sparks {
  fill: transparent;
  transition: fill 0.3s ease 0.03s;
}

.card__icon-button .main-body {
  fill: transparent;
  transition: fill 0.3s ease 0.03s;
}

.card__icon-button .core {
  fill: transparent;
  transition: fill 0.3s ease 0.03s;
}

.card__icon-button:hover .main-body {
  fill: #000;
  transition: fill 0.3s ease 0.05s;
}

.card__icon-button:hover .core {
  fill: #000;
  transition: fill 0.3s ease;
}

.card__icon-button:active .main-body {
  fill: #ff0000;
  transition: fill 0.3s ease 0.05s;
}

.card__icon-button:active .core {
  fill: #ff0000;
  transition: fill 0.3s ease;
}

.card__icon-button .is-liked {
  animation: like 0.3s ease-in 0.1s;
}

.card__icon-button .is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.card__icon-button .is-liked .contour {
  fill: #ff0000;
  transition: fill 0.3s linear 0.06s;
}

.card__icon-button .is-liked .main-body {
  fill: #ff0000;
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button .is-liked .core {
  fill: #ff0000;
  transition: fill 0.3s linear;
}

@keyframes like {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.25;
  }

  100% {
    scale: 1;
  }
}

@keyframes sparks {
  0% {
    fill: transparent;
  }

  50% {
    fill: #ff0000;
  }

  100% {
    fill: transparent;
  }
}